player-connection-mode=Listen
player-connection-guid=4151960542
player-connection-debug=0
player-connection-project-name=ModelTraining
player-connection-ip=192.168.56.1
player-connection-ip=192.168.40.1
player-connection-ip=192.168.127.1
player-connection-ip=192.168.1.140
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
